@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@keyframes color {
	0%   { background: #5bcece; }
	20%  { background: #53cd55; }
	40%  { background: #bcc969; }
	60%  { background: #ffe478; }
	80%  { background: #70c972; }
	100% { background: #67d3d3; }
}

body {
    animation: color 9s infinite linear;
    font-family: 'Montserrat', sans-serif;
    height: 95vh;
}

.title {
    height: inherit;
    width: inherit;
    display: grid;
    place-content: center left;
    font-size: 1.5rem;
}

.title > * {
    margin-left: 3.5vw;
    margin-bottom: 0;
    transition: 400ms ease;
}   

.title h1 span {
    transition: 400ms ease;
}

.title h1 span:hover {
    color: #1e7fda;
    transition: 400ms ease;
}

.title h2 span {
    transition: 400ms ease;
}

.title h2 span:hover {
    color: orangered;
    transition: 400ms ease;
}