@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@500&display=swap');

body {
    margin-top: 150px;
    font-size: 1.5rem;
    font-family: monospace;
    height: 500vh;
    line-height: 2rem;
    background-color: white;
    color: black;
}

.main {
    margin-top: 0;
}

.title {
    font-family: Oswald;
    width: 100vw;
    display: grid;
    justify-content: center;
}

.title a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: lightsalmon;
    top: 0;
    left: 0;
    position: fixed;
}

.sidebar {
    display: grid;
    justify-content: center;  
    position: fixed;
    left: 0;
    top: 96px;
    background-color: rgb(200, 200, 200);
    height: 100vh;
    width: 10vw;
    transition: 400ms ease;
}

.sidebar:hover .unhover {
    display: none;
}

.sidebar:hover {
    background-color: lightblue;
    width: 30vw
}

.sidebar .hover {
    display: none;
}

.sidebar:hover .hover {
    display: inherit;
    margin-top: 10vh;
    margin-bottom: 5vw;
    color: black;
}

.Bbox {
    width: 500px;
    height: 300px;
    background-color: lightblue;
    border-radius: 5%;
    transition: 400ms ease;
}

.Bbox:hover {
    width: 600px;
    transition: 400ms ease;
}

.Bbox:hover img {
    width: 600px;
    transition: 400ms ease;
}

.Bbox img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin-bottom: 0;
    transition: 400ms ease;
}

.Cbox {
    width: 500px;
    height: 50px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: grid;
    place-content: center;
    transition: 400ms ease;
}

.Cbox h5 {
    color: lightseagreen;
    margin-bottom: 0;
    margin-top: 15px;
    transition: 400ms ease;
}

.Bbox:hover .Cbox {
    width: 600px;
    transition: 400ms ease;
}

.Bbox:hover .Cbox > * {
    font-size: 1.75rem;
    transition: 400ms ease;
}

.Cbox > * {
    transition: 400ms ease;
}

.Cbox p {
    margin-left: 20px;
    line-height: 2.75rem;
    font-family: Merriweather;
    margin: 0;
    transition: 400ms ease;
}
